[Desktop Entry]
Type=Application
Exec=$HOME/.xkb/onhhkb
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name[ja_JP]=enable-hhkb
Name=enable-hhkb
Comment[ja_JP]=
Comment=
